.main-background
{
    display: flex;
    opacity: .70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-background.-first
{
   background-image: url(../../images/BG-first.jpg);
   height: 100vh; 
}

.main-background.-second
{
    background-image: url(../../images/BG-Second.jpg);
    height: 400px;
}

.main-background.-third
{
    background-image: url(../../images/BG-Three.jpg);
    height: 380px;
}